<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de Usuario - Bloc de Notas</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #a7a2a2;
            margin: 20px;
            text-align: center;
        }

        h1 {
            color: #611d1d;
        }

        h2 {
            color: #550808;
        }

        .mi-div {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
  
    </style>
</head>
<body>

    <h1>Manual de Usuario - Bloc de Notas</h1>

    <div class="mi-div">
    <h2>1. Registro e Inicio de Sesión</h2>
    <p>
        Para comenzar a usar el bloc de notas, primero debes registrarte proporcionando un nombre de usuario y una contraseña segura.
        Después del registro, puedes iniciar sesión utilizando tus credenciales.
    </p></div>

    <div class="mi-div">
    <h2>2. Creación de Tareas</h2>
    <p>
        Una vez que hayas iniciado sesión, puedes crear nuevas tareas especificando un título, una descripción, una fecha de vencimiento y una prioridad.
        Utiliza la opción de "Crear Tarea" para agregar nuevas entradas a tu bloc de notas.
    </p></div>

    <div class="mi-div">
    <h2>3. Listado de Tareas</h2>
    <p>
        Puedes ver la lista de todas tus tareas utilizando la opción de "Listar Tareas". Esto te mostrará un resumen de todas las tareas que has creado.
    </p></div>

    <div class="mi-div">
    <h2>4. Actualización de Tareas</h2>
    <p>
        Si necesitas realizar cambios en alguna tarea existente, utiliza la opción de "Actualizar Tarea". Puedes modificar el título, la descripción, la fecha de vencimiento y la prioridad de la tarea.
    </p></div>

    <div class="mi-div">
    <h2>5. Eliminación de Tareas</h2>
    <p>
        Para eliminar una tarea, selecciona la opción "Eliminar Tarea" y sigue las instrucciones. Ten en cuenta que esta acción es irreversible.
    </p></div>

    <div class="mi-div">
    <h2>6. Filtros y Ordenación de Tareas</h2>
    <p>
        La aplicación proporciona funcionalidades de filtrado y ordenación para que puedas ver tus tareas de acuerdo a diferentes criterios, como prioridad o fecha de vencimiento.
    </p></div>

    <div class="mi-div">
    <p>
        ¡Disfruta usando tu bloc de notas!
    </p></div>

</body>
</html>
