<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Requerimientos</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #a7a2a2;
            margin: 20px;
            text-align: center;
        }

        h1 {
            color: #611d1d;
        }

        h2 {
            color: #550808;
        }

        .mi-div {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Requerimientos Funcionales</h1>

    <div class="mi-div">
        <h2>Registro de Usuarios</h2>
        <p>Los usuarios deben poder registrarse en la aplicación proporcionando un nombre de usuario y una contraseña segura.</p>
    </div>

    <div class="mi-div">
        <h2>Inicio de Sesión de Usuarios</h2>
        <p>Los usuarios registrados deben poder iniciar sesión utilizando sus credenciales.</p>
    </div>

    <div class="mi-div">
        <h2>Creación de Tareas</h2>
        <p>Los usuarios autenticados deben poder crear nuevas tareas especificando un título, una descripción, una fecha de vencimiento y una prioridad.</p>
    </div>

    <div class="mi-div">
        <h2>Listado de Tareas</h2>
        <p>La API debe proporcionar una forma de recuperar la lista de tareas creadas por un usuario específico.</p>
    </div>

    <div class="mi-div">
        <h2>Actualización de Tareas</h2>
        <p>Los usuarios deben poder editar y actualizar sus tareas existentes, incluyendo la modificación del título, la descripción, la fecha de vencimiento y la prioridad.</p>
    </div>

    <div class="mi-div">
        <h2>Eliminación de Tareas</h2>
        <p>Los usuarios deben poder eliminar tareas de su bloc.</p>
    </div>

    <div class="mi-div">
        <h2>Filtros y Ordenación de Tareas</h2>
        <p>Proporcionar funcionalidades de filtrado y ordenación para que los usuarios puedan ver sus tareas de acuerdo a diferentes criterios, como prioridad o fecha de vencimiento.</p>
    </div>

</body>
</html>
